<div class="col-xs-3 well">
       <ul>
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="categories">Kategorije</a></li>
            <li><a ui-sref="articles">Izdelki</a></li>
            <li><a ui-sref="details">Opis izdelka</a></li>
            <li><a ui-sref="basket">Košarica</a></li>
            <li><a ui-sref="userinfo">Uporabnik</a></li>
            <li><a ui-sref="about">O nas</a></li>
            <li><a ui-sref="privacy">Politika zasebnosti</a></li>
        </ul>
</div>